mixin videoBlock(video = {})
    .videoBlock
        a(href=`${routes.videoDetail(video.id)}`)
            video.videoBlock__thumnail(src=video.fileUrl, controls=true)
            h4.videoBlock__title=video.title
            h3.videoBlock__description=video.description
            h2.videoBlock__views=video.views